div.app1 {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: aqua;
}

div.app1 .App {
    height: 100%;
    width: 100%;
    font-size: 5rem;
    background-color: crimson;
}